.d3-chart-heatmap
    .cells rect
        stroke: #e0e0e0
        stroke-width: 2
        border: 1px solid
    .thread
        stroke: #636363
        stroke-width: 2
    text
        fill: #a0a0a0

    .selected
        fill: #000000
        background-color: black;
